@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");

body {
    margin: 0;
    padding: 0;
    font-family: "Josefin Sans", sans-serif;
    background: #fafafa;
}
* {
    box-sizing: border-box;
    font-family: "Josefin Sans", sans-serif;
}

a {
    color: black;
    text-decoration: none;
}
input,
textarea {
    background: #fafafa;
}
.page-title {
    text-align: center;
}
.appWrapper {
    min-height: 90vh;
}
.contentWrapper {
    max-width: 800px;
    margin: 0 auto;
    padding: 1rem;
    background: white;
    border-radius: 3px;
    margin-top: 2rem;
    border: 1px solid #dbdbdb;
    line-height: 1.25;
}
.contentWrapper--noBg {
    background: none;
    padding: 0;
    border: 0;
}
.contentWrapper--center {
    text-align: center;
}
.main {
    padding: 1rem;
}

/*
    BUTTONS
--------------*/
.button-wrapper-right {
    display: flex;
    justify-content: flex-end;
}
.button-wrapper-left {
    display: flex;
    justify-content: flex-start;
}
.button-wrapper-left button {
    margin-right: 1rem;
}
button {
    cursor: pointer;
    background: #0095f6;
    color: white;
    border: none;
}
button.close {
    background: none;
    color: gray;
    font-size: 1.25rem;
}
button.secondary {
    background: gray;
}
button a {
    color: white;
}
button.link {
    border: none;
    background: none;
    font-weight: bold;
    color: #0095f6;
}
button.link a {
    color: inherit;
}

/*
    HEADER
-----------*/
.header {
    background: white;
    padding: 1rem;
    display: flex;
    justify-content: flex-end;
    border-bottom: 1px solid #dbdbdb;
}

/*
    SIGNUP & CREATEP POST FORM
--------------------------------*/

.signup__form {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 1rem auto;
}
.signup__form {
    display: flex;
}
.signup__form input,
button,
textarea {
    font-size: 1rem;
    padding: 10px;
    border-radius: 3px;
}
.signup__form input {
    margin-bottom: 1rem;
    border: 1px solid #dbdbdb;
}
.signup__form textarea {
    margin-bottom: 1rem;
    border: 1px solid #dbdbdb;
}
.signup__form button {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 38px;
}
.signup__form button img {
    height: 100%;
}

.message {
    min-height: 20px;
    margin: 0;
    position: relative;
    top: 10px;
}
/*
    SIGNIN
--------------*/
.signin__form * {
    font-size: 1rem;
    padding: 10px;
    border-radius: 3px;
}
.signin__form input {
    margin-right: 1rem;
    border: 1px solid #dbdbdb;
}

.signin__form button {
    cursor: pointer;
}

/*
    HOME
*/
.home__card {
    display: flex;
    align-items: center;
}
.home__card .avatar {
    width: 38px;
    border-radius: 50%;
    background: gray;
}
.home__card .avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    display: block;
}
.home__card .username {
    margin: 0 1rem;
}

/*
    FOOTER
*/
.footer {
    text-align: center;
    padding: 1rem;
    color: #8e8e8e;
}
.footer p {
    font-size: 0.95rem;
    margin: 0.5rem 0;
}
.footer a {
    color: inherit;
}
