@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;1,600&display=swap");

body {
    margin: 0;
    padding: 0;
    font-family: "Source Sans Pro", sans-serif;
    background: #fafafa;
}
* {
    box-sizing: border-box;
    font-family: "Source Sans Pro", sans-serif;
}

a {
    color: black;
    text-decoration: none;
}
input,
textarea {
    background: #fafafa;
}
.page-title {
    text-align: center;
}
.appWrapper {
    min-height: 90vh;
}
.contentWrapper {
    max-width: 800px;
    margin: 0 auto;
    padding: 1rem;
    background: white;
    border-radius: 3px;
    margin-top: 2rem;
    border: 1px solid #dbdbdb;
    line-height: 1.25;
}
.contentWrapper--noBg {
    background: none;
    padding: 0;
    border: 0;
}
.contentWrapper--center {
    text-align: center;
}
.main {
    padding: 1rem;
}

/*
    BUTTONS
--------------*/
.button-wrapper-right {
    display: flex;
    justify-content: flex-end;
}
.button-wrapper-left {
    display: flex;
    justify-content: flex-start;
}
.button-wrapper-left button {
    margin-right: 1rem;
}
button {
    cursor: pointer;
    background: #0095f6;
    color: white;
    border: none;
}
button.close {
    background: none;
    color: gray;
    font-size: 1.25rem;
}
button.secondary {
    background: gray;
}
button a {
    color: white;
}
button.link {
    border: none;
    background: none;
    font-weight: bold;
    color: #0095f6;
}
button.link a {
    color: inherit;
}
button.link-active a {
    text-decoration: underline;
}

/*
    HEADER
-----------*/
.header {
    background: white;
    padding: 1rem;
    display: flex;
    justify-content: flex-end;
    border-bottom: 1px solid #dbdbdb;
}
.home__card {
    display: flex;
    align-items: center;
}
.home__card .avatar {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background: lightgray;
}
.home__card .avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    display: block;
}
.home__card .username {
    margin: 0 0 0 1rem;
}
.profileLink {
    display: flex;
    align-items: center;
    margin-right: 1rem;
    padding: 0 1rem;
    transition: 0.3s;
}
.profileLink:hover {
    color: #0095f6;
}
.home__card .profileLink--feed h3 {
    margin-left: 0;
}
.logoutBtn {
    background: none;
    color: black;
    transition: 0.3s;
}
.logoutBtn:hover {
    color: #0095f6;
}
.logoutBtn h3 {
    margin: 0;
}

/*
    SIGNUP & CREATEP POST FORM
--------------------------------*/

.signup__form {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 1rem auto;
}
.signup__form {
    display: flex;
}
.signup__form input,
button,
textarea {
    font-size: 1rem;
    padding: 10px;
    border-radius: 3px;
}
.signup__form input {
    margin-bottom: 1rem;
    border: 1px solid #dbdbdb;
}
.signup__form textarea {
    margin-bottom: 1rem;
    border: 1px solid #dbdbdb;
}
.signup__form button {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 38px;
}
.signup__form button img {
    height: 100%;
}

.message {
    min-height: 20px;
    margin: 0;
    position: relative;
    top: 10px;
}
/*
    SIGNIN
--------------*/
.signin__form * {
    font-size: 1rem;
    padding: 10px;
    border-radius: 3px;
}
.signin__form input {
    margin-right: 1rem;
    border: 1px solid #dbdbdb;
}

.signin__form button {
    cursor: pointer;
}

/*
    FOOTER
*/
.footer {
    text-align: center;
    padding: 1rem;
    color: #8e8e8e;
    position: relative;
}
.footer p {
    font-size: 0.95rem;
    margin: 0.5rem 0;
}
.footer a {
    color: inherit;
}
.posts {
    font-size: 1.2rem;
}
.posts ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.posts li {
    padding: 10px 5px;
    border: 1px solid lightgray;
    border-bottom: 0;
}
.posts li:hover {
    text-decoration: underline;
}
.posts li:last-child {
    border-bottom: 1px solid lightgray;
}
/*
    PROFILE
--------------------*/
.profileTitleRow {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}
.profileTitleRow .avatar {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background: lightgray;
}
.profileTitleRow .avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    display: block;
}
.profileTitleRow .username {
    margin: 0 1rem;
}
/*
    FLASH MESSAGES
--------------------*/
.flashMessage {
    position: absolute;
    top: 3rem;
    left: 50%;
    transform: translateX(-50%);
    background: white;
    color: #0095f6;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    max-width: 300px;
    padding: 1rem;
    transition: all 1s ease;
}
.flashMessage p {
    margin: 0;
}
.flashMessage--show {
    top: -1rem;
    transition: all 1s ease;
}
